/* NAVIGATION */

@media screen and (min-width: 768.1px) {
    .desktopNav {
        display: flex;
        top: -4px;
        right: 0;
        z-index: 2;
        position: fixed;
        color: white;
        list-style: none;
        /* padding: 16px 14px; */
    }

    .desktopNav li {
        margin-right: 24px;
    }

    .desktopNav li>a:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .desktopNav a {
        text-decoration: none;
        color: white;
    }

    .desktopNav a:visited {
        color: white;
    }
}

/* HEADER */

@media screen and (min-width: 768.1px) {
    header {
        padding-top: 8%;
    }

    .nameHeader {
        font-size: 3em;
    }
}

/* Project Section */

@media screen and (min-width: 768.1px) {
    #title {
        width: 20%;
    }

    .imageResize {
        position: relative;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        transition: 0.4s ease-in;
    }

    .imageResize .middleDesktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 2;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        width: 100%;
        top: 25%;
       }

       .live,
       .repo {
           width: 100px;
           height: 50px;
           display: flex;
           text-align: center;
           justify-content: center;
           padding-top: 12px;
           margin: 2px;
    }

    #live {
        margin-right: 10px;
    }

    .carImg {
        width: 100%;
        height: auto;
        border: solid 2px white;
    }

    .projectImg {
        backface-visibility: hidden;
        transition: 0.5s ease;
    }

    .projects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        vertical-align: middle;
    }

    .project {
        padding-right: 10px;
        padding-left: 10px;
        width: 49%;
        position: relative;
        display: block;
        text-align: center;
    }

    .projectImg:hover {
        cursor: pointer;
    }

    .project:hover .projectImg {
        opacity: 0.3;
        background-color: black;
    }


    .project:hover .imageResize .middleDesktop {
        cursor: pointer;
        opacity: 1;
    }

    .projects h3 {
        text-decoration: underline;
    }

    .live:hover,
    .repo:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .middle {
        display: none;
    }
}

/* Skills */

@media screen and (min-width: 768.1px) {

    .skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .skillsList {
        margin-top: 5vh;
    }

    #jqueryIcon {
        padding-top: 1px;
        height: 52px;
    }


}

/* About Me */

@media screen and (min-width: 768.1px) {
    #aboutMeBio {
        width: 60vh;
    }
}

/* Contact */

@media screen and (min-width: 768.1px) {
    #email {
        margin-top: 2rem;
        letter-spacing: 0.1rem;
    }

    .contactIcon {
        margin-top: 3rem;
        width: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-15px);
    }


}

/* Footer */

@media screen and (min-width: 768.1px) {
    footer {
        margin-top: -5.5vh;
    }
}