* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: "Open Sans",
        sans-serif;
    font-size: 20px;
    color: mintcream;
    text-align: center;
    line-height: 1.5;
    background-color: #0B0C10;
    
}

footer {
    padding: 1% 0;
    background-color: #1F2833;
}

nav {
    background-color: #1F2833;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 3;
}

.navName {
    color: rgb(255, 188, 5);
    font-size: 0px;
    display: flex;
    left: 0;
    top: 0;
    padding-left: 5px;
    padding-top: 5px;
}

header {
    padding-top: 14%;
    padding-bottom: 8%;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #1F2833;
    color: #66FCF1;
}

section:nth-child(even) {
    color: mintcream;
    background-color: #45A29E;
}

.banner {
    text-decoration: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1vh;
    padding-right: 1vh;
}

.nameHeader {
    color: rgb(255, 188, 5);
    font-size: 4vh;
    letter-spacing: 0.2vh;
    text-decoration: underline;
}

.headerStatement {
    margin-top: -2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#inovating {
    font-size: 36px;
}

#headerh2 {
    font-size: 2vh;
}

.nameSpan {
    color: rgb(255, 188, 5);
}

#nameSpanSymbols {
    color: mintcream;
}

.jobTitle {
    font-size: 2.1vh;
}

#title {
    border: solid 2px white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*
-----------------BIO-----------------
*/

#aboutMeIcon {
    width: 100px;
}

#aboutMeBio {
    display: block;
    width: 90%;
    text-align: center;
    margin: auto auto;
}

/*
-----------------SKILLS-----------------
*/

.skills {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: -5vh;
}

.skillsList {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}


/*
-----------------CONTACT-----------------
*/


.contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    margin-left: -3vh;
}

.contactIcon {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -3.7vh;
}

.contactIcon li {
    margin-right: 1vh;
}

/*
-----------------PROJECTS-----------------
*/

.projects {
    width: 90%;
    display: block;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.projectImg {
    width: 80%;
    border-radius: 10px;
    border: solid 2px white;
}

.middleDesktop {
    display: none;
}

#live,
#repo {
    margin-bottom: 5vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: rgb(255, 188, 5);
    color: #1F2833;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}

#live a, #repo a {
    color: white;
    text-decoration: none;
}

#live a:visited, #repo a:visited {
    color: white;
    text-decoration: none;
}

.skillSetUsed {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

#skillsUsed {
    padding-top: 1.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: #1F2833;
    font-style: italic;
}

.projects p {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 1vh;
}

.homeImage:hover {
    cursor: pointer;
}